{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
    <link rel="stylesheet" href="{% static 'footer.css' %}" >
    <link rel="stylesheet" href="{% static 'leaflet.css' %}" >
    <link rel="stylesheet" href="{% static 'plugins/L.Control.Pan.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/L.Control.Zoomslider.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/L.Control.MousePosition.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/L.Control.Sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/Leaflet.PolylineMeasure.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/easy-button.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'front.css' %}">

    <script src="{% static 'leaflet-src.js' %}" ></script>
    <!-- <script src="src/jquery-3.2.0.min.js"></script> -->
    <script src="{% static 'plugins/L.Control.Pan.js' %}" ></script>
    <script src="{% static 'plugins/L.Control.Zoomslider.js' %}" ></script>
    <script src="{% static 'plugins/L.Control.MousePosition.js' %}"></script>
    <script src="{% static 'plugins/L.Control.Sidebar.js' %}"></script>
    <script src="{% static 'plugins/Leaflet.PolylineMeasure.js' %}"></script>
    <script src="{% static 'plugins/easy-button.js' %}"></script>
    <script src="{% static 'plugins/leaflet-providers.js' %}"></script>
    <script src="{% static 'plugins/leaflet-opencage/src/js/L.Control.OpenCageSearch.js' %}"></script>
    <!-- <script src="{% static 'app.js' %}"></script> -->
    <!-- <link rel="stylesheet" type="leaflet.wms.js" href="{% static 'css/component.css' %}"  /> -->
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <link rel= 'stylesheet' href="{% static 'css/component.css' %}">
    <script src="{% static 'plugins/leaflet.ajax.min.js' %}" ></script>
    <script src="{% static 'js/modernizr-custom.js' %}" ></script>
    <script src="{% static 'leaflet.wms.js' %}" ></script>

    <script src="{% static 'js/classie.js' %}"></script>
    <!-- <script src="js/dummydata.js"></script> -->
    <!-- <script src="src/js/main.js"></script> -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'myscript.js' %}"></script>


    <!-- scripts for spinner -->

    <script src="{% static 'spin/spin.js'%}" ></script>
    <script src="{% static 'leaflet.spin.min.js' %}"></script>

<!-- font-awesome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


<!-- script for leaflet font awesome-->
<script src = "{% static 'leaflet.awesome-markers.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet.awesome-markers.css' %}">



<!-- leaflet-messagebox-->
<script src = "{% static 'leaflet-messagebox.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet-messagebox.css' %}">

 <!-- leaflet-measure-->
<script src = "{% static 'leaflet_measure/leaflet.measure.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet_measure/leaflet.measure.css' %}">


<!-- leaflet-search -->
<script src = "{% static 'leaflet-search/leaflet-search.src.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet-search/leaflet-search.src.css' %}">


<!-- leaflet minimap -->
<script src = "{% static 'leaflet-minimap/Control.MiniMap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet-minimap/Control.MiniMap.min.css' %}">
 


<!-- leaflet lagend graphic -->

<script src = "{% static 'leaflet-legend-graphics/leaflet.wmslegend.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet-legend-graphics/leaflet.wmslegend.css' %}">

<!-- <link rel="stylesheet" href=""/>
<script src="leaflet-legend-graphics/leaflet.wmslegend.js"></script> -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

  <body>
<style>
body {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}
.full-height {
  height: 100vh;
}

.header {
    height: 50px;
}

.mobileShow {display: none;}

  /* Smartphone Portrait and Landscape */
  @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){ 
      .mobileShow {display: inline;}
  }

  .logo-img{
    width: 300px !important;
    height: 50px !important;
  }

  .project-title{
    color: #000000;
    font-size: 20px;
    margin-right: 100px;
    text-align: center;
}

img{
  height:auto;
}
.stm-navigation__default ul > li {
  float: left;
}

.stm-header{
  padding: 12px 0;
}

.stm-navigation__default ul > li >a {
  color: #000000;
  font-size: 15px;
  font-family:'Poppins';
  font-weight: 700;
  padding: 0 20px;
}

.stm-navigation__default ul > li >a:hover {
  border-bottom: 3.5px solid;
  padding-bottom: 10px;
}

.container{
  max-width: 1350px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
  .stm-header{
    padding-top: 12px;
  }

  .stm-header__row{
    width: 270px;
    height: 100%;
    position: fixed;
    background-color: #000000 ;
  }
  
  .stm-navigation__default_mob ul > li >a {
    color: #fff;
    font-size: 15px;
    font-family:'Poppins';
    font-weight: 700;
  }


  
  .stm-navigation__default_mob ul > li{
    margin: 30px 0;
  }

  #footer-main{
    flex-direction: column;
  }
  
}

@media screen and (min-width: 1025px) {
  .container-mob {
    display: none;
  }

  @media screen and (min-width: 1200px){
    .container-big {
      max-width: 1140px;
  }
}

}

  </style>
 


<div class="stm-header">
    <div class="container">
        <div class="stm-header__row stm-header__row_center" style="display: flex; width:100%; box-sizing:border-box;">
          <div class="stm-header__cell stm-header__cell_left" style="width:100%;display: flex; justify-content: flex-start;"> 
            <div class="" style="display: flex;">
              <div><a href=""><img src="https://mahnm.in/wp-content/uploads/2020/11/logoweb.png" alt=""></a></div>
              <div><a href=""><img src="{% static 'mhgov1.png' %}" alt=""></a></div>
              <div><a href=""><img src="{% static 'WCD Logo_PNG.png' %}" alt=""></a></div>
            </div>
          </div>
          <div class="stm-header__cell stm-header__cell_center" style="min-width:fit-content;display: flex; justify-content: center; align-items:center;">
            <div style="display: flex;">
              <div class="stm-navigation__default">
                <ul style="list-style: none;">
                  <li ><a href="{% url 'homepage' %}">Home</a></li>
                  <li ><a href="{% url 'map' %}">Map</a></li>
                  <li onmouseover="document.getElementById('about').style.display='block'" onmouseleave="document.getElementById('about').style.display='none'"><a href="">About Us</a>
                    <div id="about" style="position: absolute;z-index:1111;background-color:white; display:none;">
                      <ul style="list-style: none;">
                        <li style="float: none;"><a href="{% url 'what-we-do' %}">WHAT WE DO</a></li>
                        <li style="float: none;"><a href="{% url 'our-team' %}">OUR TEAM</a></li>
                        <li style="float: none;"><a href="{% url 'partners' %}">PARTNERS</a></li>
                      </ul>
                    </div>
                  </li>
                  <li ><a href="{% url 'contact_us' %}">Contacts</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="stm-header__cell stm-header__cell_right" style="width:100%;display: flex; justify-content: flex-end; align-items:center;">
            <div style="display: flex; margin-left:30px;">
              <div>
                <a href=""><span style="color: #000000; font-size:15px;font-family:Poppins;">English</span></a>
              </div>
            </div>
            <div style="display: flex; margin-left:30px;">
              <div>
                <a href=""><span style="color: #000000; font-size:15px;font-family:Poppins;">मराठी</span></a>
              </div>
            </div>
            <div style="display: flex;"></div>
          </div>
        </div>
    </div>



    <div class="container-mob" >
      
      <div class="stm-header__row stm-header__row_center" id="mob-div" style="display: none; flex-direction: column; z-index:3;padding-top:80px;padding-left:40px;overflow:scroll;">
        <div class="stm-header__cell stm-header__cell_left">
          
        </div>
        <div class="stm-header__cell stm-header__cell_center">
          <div style="display: flex;">
            <div class="stm-navigation__default_mob">
              <ul style="list-style: none;">
                <li ><a href="{% url 'homepage' %}">Home</a></li>
                <li ><a href="{% url 'map' %}">Map</a></li>
                <li id="about" onclick="aboutdd()"><a aria-disabled="true">About Us</a>
                <ul id="about_list" style="list-style-type: none; color:white;font-family:Poppins;display:none;">
                  <li><a href="{% url 'what-we-do' %}">What we do</a></li>
                  <li><a href="{% url 'our-team' %}">Our Team</a></li>
                  <li><a href="{% url 'partners' %}">Partners</a></li>
                </ul>
                </li>
                <li ><a href="{% url 'contact_us' %}">Contacts</a></li>
                <li><div class="stm-header__cell stm-header__cell_right" style="width:100%;display: flex; justify-content: flex-end; align-items:center;">
                  <div style="display: flex; ">
                    <div>
                      <a href=""><span style="color: white; font-size:15px;font-family:Poppins;">English</span></a>
                    </div>
                  </div>
                  <div style="display: flex; margin-left:30px;">
                    <div>
                      <a href=""><span style="color: white; font-size:15px;font-family:Poppins;">मराठी</span></a>
                    </div>
                  </div>
                  <div style="display: flex;"></div>
                </div></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="stm-header__cell stm-header__cell_right"></div>
      </div>

      <div class="" style="display: flex;">
        <div style="display: flex;flex-direction:row;width:-webkit-fill-available;justify-content:center;">
          <div><a href=""><img src="https://mahnm.in/wp-content/uploads/2020/11/logoweb.png" alt=""></a></div>
          <div><a href=""><img src="{% static 'mhgov1.png' %}" alt=""></a></div>
          <div><a href=""><img src="{% static 'WCD Logo_PNG.png' %}" alt=""></a></div>

        </div>
        <div style="display: flex; justify-content: center;align-items:center; ">
          <img style="height: 20px; width:20px;" id="open" onclick="side_nav_open()" src="{% static 'bars-solid.svg' %}"  alt="">
          <img style="height: 20px; width:20px; display:none;" onclick="side_nav_close()" id="close" src="{% static 'xmark-solid.svg' %}" alt="">
        </div>
      </div>
    </div>
</div>

<div class="full-height">
  <div style="height: 100%;" >
    <div style="flex-direction: column; height:100%;">
      <div id="mapdiv" style="height: 100%;z-index:1;" class="col-12"></div>
      <div>
      
         <!-- ======= Footer ======= -->
         <div class="stm-footer" style="background-color: #200751;">
          <div style="margin: 0 4%;padding:67px 15px 0 15px;color:white;">
            <div id="footer-main" style="display: flex;">
              <div>
                <div class="titlee"><h4 style="color: white;">RAJMATA JIJAU MOTHER-CHILD HEALTH & NUTRITION MISSION</h4></div>
                <div class="content" style="padding-right: 30px;">Maharashtra was the first state in the country to take a decision to tackle malnutrition in
                  ‘Mission – mode’ and with this purpose, <b>Rajmata Jijau Mother – Child Health &amp; Nutrition</b>
                  Mission was established. The first phase of the Mission was set up in 2005, and the
                  second phase started in 2011 and the third phase in 2017. The aim of the Mission is to
                  reduce child malnutrition in Maharashtra by focusing on the child's first 1000 days from
                  conception.
                  </div>
              </div>
              <div>
                <div><h4 style="color: #fff;">CONTACT US</h4></div>
                <div style="border: 1px solid ; border-radius: 3px;"><div class="widget_contacts_inner" itemscope="" itemtype="http://schema.org/Organization" style="padding: 24px 38px 5px 38px;" >

                  <div class="stm-icontext stm-icontext_style2 stm-icontext__address" data-title="Address">
          <i class="stm-icontext__icon fa fa-home"></i>
          <span class="stm-icontext__text" itemprop="address">
              Address:-  Rajmata Jijau Mother-Child Health and Nutrition Mission, Department of Women and Child Development, Government of Maharashtra 8th Floor, New Mantralay, Beside G.T. Hospital Complex, Lokmanya Tilak Road, Mumbai, Maharashtra-400001                    </span>
      </div>
                  <div class="stm-icontext stm-icontext_style2 stm-icontext__phone" data-title="Phone">
          <i class="stm-icontext__icon fa fa-phone-square"></i>
          <span class="stm-icontext__text" itemprop="telephone">
              Tel. No.(022 )22622408 / (022) 22618448/53                    </span>
      </div>
                  <div class="stm-icontext stm-icontext_style2 stm-icontext__email" data-title="Email">
          <i class="stm-icontext__icon fa fa-envelope"></i>
          <span class="stm-icontext__text">
              <a class="stm-effects_opacity" itemprop="email" href="mailto:rjmchnmission@mahnm.in">
                  rjmchnmission@mahnm.in                        </a>
          </span>
      </div>
  
          </div></div>
              </div>
            </div>
            <div>
              <div style="padding: 20px;" class="stm-footer__bottom">
              <div class="stm_markup stm_markup_right stm_markup_50">
                      
                
                  <div class="stm_markup__sidebar text-right">
                    <hr style="color: white;background:grey;">
                                                      <div class="stm-socials" style="display: flex; justify-content: center; margin-bottom:10px;">
                                  <a style="background-color: white;color: black; height:30px; width:30px; text-align:center; margin: 0 8px; border-radius: 50%; line-height: 30px;" href="https://www.youtube.com/channel/UCOrLxZXElseUfyNXBIIgdQA" class="stm-socials__icon stm-socials__icon_round stm-socials__icon_filled icon_17px mbc_h" target="_blank">
                                    <i class="fa-brands fa-youtube"></i>
                          </a>
                                      <a style="background-color: white;color: black; height:30px; width:30px; text-align:center; margin: 0 8px; border-radius: 50%; line-height: 30px;" href="https://www.instagram.com/maha.dwcd/" class="stm-socials__icon stm-socials__icon_round stm-socials__icon_filled icon_17px mbc_h" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                          </a>
                                      <a style="background-color: white;color: black; height:30px; width:30px; text-align:center; margin: 0 8px; border-radius: 50%; line-height: 30px;" href="https://twitter.com/MDwcd" class="stm-socials__icon stm-socials__icon_round stm-socials__icon_filled icon_17px mbc_h" target="_blank">
                                    <i class="fa-brands fa-twitter"></i>
                          </a>
                                      <a style="background-color: white;color: black; height:30px; width:30px; text-align:center; margin: 0 8px; border-radius: 50%; line-height: 30px;" href="https://www.facebook.com/maharashtraWCD/" class="stm-socials__icon stm-socials__icon_round stm-socials__icon_filled icon_17px mbc_h" target="_blank">
                                    <i class="fa-brands fa-facebook"></i>
                          </a>
                          </div>
                  </div>
                    </div>
            </div>
          </div>
          </div>
         </div>
          
         <!-- <footer class="text-center text-white " style="background-color: #21081a;bottom: 0px;"> -->
             <!-- <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;bottom: 0px;"> -->
              <!-- <footer class="text-center text-white" style="background-color: #21081a;bottom: 0px;"> -->
       
                <!-- Copyright -->
                  <!-- <div class="text-justify p-3" style="background-color: rgba(0, 0, 0, 0.2);"raj> -->
                  <!-- <div class="p-3" style="background-color: rgba(127, 232, 21, 0.571);">
                      
                      <a class="text-white"><p>Developed by "Rajmata Jijau Mother-Child Health & Nutrition Mission" using FOSS project</p>
                      <p> Software Developer : Monika Shah (Prop: SAMANVAY and consultant at CTARA, IIT-B) </p>
                      </a>
                  </p>
                  </div> -->
                  <!-- Copyright -->
                  <!-- </footer> -->
                  <!-- End #footer -->
                </div>
      
    </div>

  </div>

</div>

<script>
  var open = false;
  
  function aboutdd(){
    if(!open){
      document.getElementById('about_list').style.display = 'block'
      open = true;
    }else{
      document.getElementById('about_list').style.display = 'none'
      open = false
    }
  }
</script>


<script>

var mymap;
var source = L.wms.source(
      "https://geonode.communitygis.in/geoserver/geonode/wms",
      {
          "layers": 'geonode:states_in_india',
          "format": "image/png",
          "transparent": "true"
      }        
  );
  // source.addTo(mymap);
  mymap = L.map('mapdiv', {
    center:[19.0760, 84.8777], 
    zoom:5, zoomControl:false, 
    attributionControl:false,
    messagebox: true,
    contextmenu: true,
    measureControl: false
  });
  mymap.messagebox.options.timeout = 5000;
  mymap.messagebox.setPosition("bottomright");
  lyrOSM = L.tileLayer.provider('OpenStreetMap.Mapnik');
  lyrOSM2 = L.tileLayer.provider('OpenStreetMap.Mapnik');
  lyrImagery = L.tileLayer.provider('Esri.WorldImagery');
  mymap.addLayer(lyrOSM);
  // var miniMap = new L.Control.MiniMap(lyrOSM2, { toggleDisplay: true }).addTo(mymap);
//  var miniMap = new L.Control.MiniMap(lyrOSM).addTo(mymap);
// var layer = 'Maharastra_All_District_Total_Households_Cenc'
//   var wms = L.tileLayer.wms('https://geonode.communitygis.in/geoserver/wms', {
// 				// layer: layer,
//         layers: 'Maharastra_All_District_Total_Households_Cenc',
// 				format: 'image/png',
// 				transparent: 'true',
//         style: ""
//         // zoom: 14,
//         // currentPos: [19.7515, 75.7139],
//         // cql_filter: 'state=Maharashtra'
// 	});

var wms = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
  layers: 'geonode:states_in_india',
  format: 'image/png',
  transparent: 'true',
  // version: '1.3.0',
  cql_filter: "state='Maharashtra'",
  style: ""
});
wms.addTo(mymap);

  // addWMSLegendfromgeo(layer);
function round(value, precision) {
    var multiplier = Math.pow(10, precision || 0);
    return Math.round(value * multiplier) / multiplier;
}


function copyToClipboard(text) {
    var dummy = document.createElement("textarea");
    // dummy.style.display = 'none'
    document.body.appendChild(dummy);
    dummy.value = text;
    dummy.select();
    document.execCommand("copy");
    document.body.removeChild(dummy);
}

mymap.on('contextmenu',function(e){
  copyToClipboard(e.latlng.lat+","+e.latlng.lng);
  mymap.messagebox.show("<h6>Latitude:<b>"+round(e.latlng.lat,4)+"</b> Longitude:<b>"+round(e.latlng.lng,4)+"</b> copied to clipboard</h6>");
});
 


var baseLayers = {
  
};

 
var overlays = {
      //"States":indiaState,
      "OSM":lyrOSM2,
      "Satellite":lyrImagery,
      //"Maharashtra Schools":mahaSchools
};

var layercontrol = L.control.layers(overlays, baseLayers).addTo(mymap);

layercontrol.addOverlay

mymap.setView([19.000, 74.999],7);


$('.select').click(function () {
  $(this).toggleClass('highlight')
})
</script>
  
{% block content%}
{% endblock %}
<script>
  
  
  
  $("#closebutton").click(function(){
  ctlSidebar.toggle();
});
 
  
  
  objBasemaps = {
      "Open Street Maps": lyrOSM,
      "Imagery":lyrImagery
  };
  
  objOverlays = {
  };
  
  // var ctlLayers = L.control.layers(objBasemaps, objOverlays).addTo(mymap);
  var ctlSidebar = L.control.sidebar('side-bar').addTo(mymap);
  // var ctlPan = L.control.pan().addTo(mymap);

  var ctlEasybutton = L.easyButton('fa fa fa-bars', function(){
      ctlSidebar.toggle(); 
  }).addTo(mymap);
  ctlSidebar.show();

  var ctlZoomslider = L.control.zoomslider({position:'topright'}).addTo(mymap);
  
  ctlAttribute = L.control.attribution({position:'bottomleft'}).addTo(mymap);


      
</script>
          
<script>
  var pp = document.getElementById('mob-div')
  function side_nav_open(){
    pp.style.display='flex';
    document.getElementById('open').style.display = 'none';
    document.getElementById('close').style.display = 'block';
  }
  function side_nav_close(){
    pp.style.display='none';
    document.getElementById('close').style.display = 'none';
    document.getElementById('open').style.display = 'block';
  }
</script>

  
  
        </body>
</html>
