{% extends 'mainpage.html' %} {% load static %}
{% load i18n %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% block extra_css%}
<style>
    .centered {
        position: absolute;
        /* top: 40%; */
        left: 50%;
        transform: translate(-50%, -50%);
        color: aliceblue;
    }
</style>

{% endblock %} {% block content %}


<section id="hero">
    <div class="hero-container p-0">
        {% comment %} <h1>{% trans "Women & Child Development department of Maharashtra" %}</h1>
        
        <h2>{% trans "A Project by Rajmata Jijau Mother-Child Health & Nutrition Mission" %}</h2> {% endcomment %}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static "tir.jpg" %}" alt="First slide">
              </div>1
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static "tir.jpg" %}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static "tir.jpg" %}" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="container">
            <div class="content" style="display: flex; justify-content: center;flex-direction:column;align-items:center;">
                <div class="text-content">
                    <h3><strong>RAJMATA JIJAU MOTHER-CHILD HEALTH & NUTRITION MISSION</strong></h3> 
                </div>
                <hr style="width: 10%;">
                <div style="margin-bottom: 54px;">
                    <h4><i>Maharashtra was the first state in the country to take a decision to tackle malnutrition in ‘Mission – mode’ and with this purpose, Rajmata Jijau Mother – Child Health & Nutrition Mission was established. The first phase of the Mission was set up in 2005, and the second phase started in 2011 and third phase in 2017. The aim of the Mission is to reduce child malnutrition in Maharashtra by focusing on the child's first 1000 days from conception.</i></h4>
                </div>
                <div style="display: flex; flex-direction:column; gap: 10%; font-size:18px;">
                    <div style="display: flex; flex-direction: row;gap: 5%;">
                        <div>
                            <img src="{% static 'DSC01981.jpg' %}" style="position: relative;" alt="">
                            <div style="background: #50318c; width: 70%; padding: 10%;text-align:left;margin: -27% 19px 0 0;float:right; position: relative;">
                                <h3>About us</h3>
                                <p style="font-size:16px;">The Rajmata Jijau Mission works as an autonomous technical and advisory body fully funded by UNICEF. It aims at improving convergence and coordination between Public Health Department, Govt. of Maharashtra and ICDS Commissionerate.</p>
                            </div>
                        </div>
                        <div>
                            <img src="{% static 'DSC02143.jpg' %}" style="position: relative;" alt="">
                            <div style="background: #50318c; width: 70%; padding: 10%;text-align:left;margin: -27% 19px 0 0;float:right; position: relative;">
                                <h3>In House Innovations</h3>
                                <p style="font-size:16px;">The role of the Mission is well-defined to avoid any confusion and duplication with the role of Department of Women and Child Development. In coordination with various institutions, Rajmata Jijau Mission has initiated innovative programs for reducing malnutrition in the state.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
          </div>
        <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
    </div>
   
</section>
{% if messages %}
<ul class="messages">
    {% for message in messages %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
    </div>

    {% endfor %}
</ul>
{% endif %}
</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
</script>

{% endblock %}
